---
import BaseHead  from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import SkillCard from '../components/SkillCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Contact from '../components/contact/Contact';

import { SKILLS, PROJECTS } from '../consts';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
  <div class="container">
    
    <div class="hero_header">
      <div class="hero_header_container">
        <Header />
    
        <section class="hero">
          <h1 class="hero_title"> Hola, soy Walker Alfaro, Desarrollador Web </h1>
          <a class="hero_linkcv" href="https://drive.google.com/file/d/1IqoxcDwEra3UT30IKH0rWfEgcZS4-BV2/view?usp=sharing" target="_blank" >Mi CV</a>
        </section>
        
      </div>
    </div>

    <main class="main_container">

      <section class="projects" id="projects">
        <h2 class="projects_title">Proyectos</h2>
        <div class="projects_cards_wrap">
          {
            PROJECTS.map( ({ projectLink, projectTitle, projectDescription, projectImage, projectTechnologies }) => (
              <ProjectCard 
                title={projectTitle} 
                description={projectDescription} 
                image={projectImage} 
                technologies={projectTechnologies} 
                link={projectLink}
              />
            ))
          }
        </div>
      </section>

      <section class="skills" id="skills">
        <h2 class="skills_title">Tecnologías que utilizo</h2>

        <div class="skills_cards_flex">
          {
            SKILLS.map( ({ skillImage, skillTitle, skillsGroup }) => (
              <SkillCard image={skillImage} title={skillTitle} skills={skillsGroup} />
            ))
          }
        </div>
      </section>
    
      <section class="about" id="about">
        <h2 class="about_title">Un poco sobre mí</h2>
        <div class="about_text">
          <p>Me llamo Walker Alfaro Trelles, soy programador, ingeniero electrónico y entusiasta de la tecnología.</p>
          <p>Actualmente me dedico al desarrollo de aplicaciones web principalmente bajo el stack MERN.</p>
          <p>Me implico en el flujo completo del desarrollo del software, desde la toma de requerimientos, pasando por la concepción de la solución, el diseño, el desarrollo y el testing.</p>
        </div>
      </section>
  
      <section class="contact" id="contact">
        <h2 class="contact_title">Contacto</h2>
        <Contact client:load contact_api={import.meta.env.CONTACT_API}/>
      </section>
  
    </main>

  </div><!-- .container -->

  <Footer/>
  
  <script src="../services/smooth.js"></script>
</body>
</html>

<!-- ESTILOS -->
<style lang="scss">
  @use '../styles/base/_variables.scss' as *;
  @use '../styles/base/_mixins.scss' as *;
  
  .hero_header {
    padding-top: 2rem;
    background: linear-gradient(90deg, $Gradient-blue -1.35%, $Gradient-purple 102.19%);

    .hero_header_container{
      width: min(100% - (2.4rem) * 2, 120rem);
      margin-inline: auto;
    }
  }

// Hero *************************************************************************************

  .hero {
    max-width: 100rem;
    padding: 15rem 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    .hero_title {
      max-width: 80rem;
    }

    .hero_linkcv {
      margin: 0 auto;
      display: block;
      @include button;
    }
  }
  
// Main Container *****************************************************************************

  // Container de la página, con 1000px de ancho
  .main_container {
    width: min(100% - (2.4rem) * 2, 100rem);
    margin-inline: auto;
    padding-bottom: 12rem;
  }

// About ***************************************************************************************

  .about {
    max-width: 40rem;
    margin: 0 auto;
    @include wrap_section_mobile;
  }

  .about_text {
    max-width: 65rem;

    background-color: $Body-blue;
    border-radius: 1.6rem;
    padding: 4rem;
    line-height: 180%;
    letter-spacing: 0.1ch;
  }

// Skills ***************************************************************************************

  .skills {
    @include wrap_section_mobile;

      .skills_cards_flex {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
      }
  }

// Projects **************************************************************************************

  .projects {
    @include wrap_section_mobile;

    .projects_cards_wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }

// Contact ***************************************************************************************

  .contact {
    max-width: 100rem;
    @include wrap_section_mobile;
  }

// MEDIA QUERIES =================================================================================

  @media (min-width: $Desktop) {

    .about, .skills, .projects, .contact {
      gap: 10rem;
      margin-top: 20rem;
    }

    .hero {
      .hero_linkcv {
        margin: 0;
      }
    }

    .about {
      max-width: 60rem;
    }

    .projects {
      .projects_cards_wrap {
        justify-content: space-between;
      }
    }
  }

</style>